<ion-split-pane content-id="main-content" when="(min-width: 768px)">
  <ion-menu class="no-shadow" side="start" content-id="main-content" style="width: 350px;">
    <ion-header class="ion-header-class-for-menu">
      <ion-toolbar>
        <ion-avatar slot="start" class="custom-avatar" style="padding: 2px; margin-top: 6px; ">
          <img style="background-color: white;" src="assets/img/app_logo.png" alt="App Logo" />
        </ion-avatar>
        <ion-title>
          <div class="header-content">
            {{ getTranslation('app_name') }}
            <div class="subheader">
              <ion-text style="font-size: small;">({{ getTranslation('state_name') }}) (VERSION: {{ versionNumber
                }})</ion-text>
            </div>
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item *ngFor="let page of pages; let i = index" class="no-gap-item" lines="none">
            <ng-container *ngIf="page.is_sub_menu; else noSubMenu">
              <!-- <ion-text class="responsive-sub-menu-title" (click)="onMenuItemClick(page.url)">{{ page.title
                }}</ion-text> -->
              <ion-label class="responsive-sub-menu-title" (click)="onMenuItemClick(page.url)"
                [innerHTML]="getTranslation(page.title)"> </ion-label>
            </ng-container>

            <ng-template #noSubMenu>
              <!-- <ng-container *ngIf="isWebPlatform(page.url)"> -->
              <ion-text style="font-weight: 700" class="responsive-menu-title" (click)="onMenuItemClick(page.url)">{{
                page.title }}</ion-text>
              <!-- </ng-container> -->
            </ng-template>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar class="landing-toolbar">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">{{ getTranslation('app_name') }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="hero-section">
        <div class="hero-gradient-overlay">
          <div class="content-wrapper">
            
            <!-- Top Officials & Logo Row -->
            <div class="top-officials-row">
              <!-- CM -->
              <div class="official-item">
                <img src="assets/img/cm_image.jpg" alt="CM Image" class="round-img" />
                <div class="text-info">
                  <h4 style="color: white;">श्री विष्णु देव साय</h4>
                  <p>{{ getTranslation('cm_designation') }}<br/>{{ getTranslation('state_name') }}</p>
                </div>
              </div>
              
              <!-- State Logo -->
              <div class="official-item">
                <img src="assets/img/cg_image.png" alt="CG Logo" class="round-img logo-img" />
                <div class="text-info">
                  <h4 style="color: white;" >{{ getTranslation('cg_sasan') }}</h4>
                </div>
              </div>

              <!-- Minister -->
              <div class="official-item">
                <img src="assets/img/minister_image.jpg" alt="Minister Image" class="round-img" />
                <div class="text-info">
                  <h4 style="color: white;">{{ getTranslation('minister_name') }}</h4>
                  <p style="color: white;">{{ getTranslation('minister_designation') }}<br/>{{ getTranslation('state_name') }}</p>
                </div>
              </div>
            </div>

            <!-- Right Align Call to Action -->
            <div class="right-cta-layout">
              <h1 class="main-heading">एक पेड़ माँ के नाम </h1>
              <h2 class="sub-heading">{{ getTranslation('department') }}</h2>
              <button class="apply-btn" (click)="navigateToKisanAwedan()">
                योजना के लिए आवेदन करें
              </button>
            </div>
            
          </div>
        </div>
      </div>
    </ion-content>
  </div>
</ion-split-pane>