<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" class="custom-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title class="responsive-toolbar-title">{{ getTranslation('safed_chandan') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="width: 100%; display: flex; justify-content: center;">
      <ion-col size = 12 size-lg="8">
        <ion-row style="margin-top: 10px;">
          <ion-col size="12">
            <ion-label class="responsive-label-header-with-background">
              भूमि एवं जलवायु
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-list class="dot-item">
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>उचित जल निकास वाली सभी प्रकार की मृदा में इसे लगाया जा सकता है ।
              </ion-item>
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>मेंड़ों पर, बगीचों में व अन्य रिक्त भूमि में तथा घर के अहातों आदि में भी इसको लगाया जा सकता है।
              </ion-item>
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>चंदन मुख्य रूप से काली, लाल दोमट मिट्टी, रूपांतरित चट्टानों में उगता है।
              </ion-item>
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>जिस भूमि में चंदन लगाया जाए वहा जल निकास का उचित प्रबंधन होना चाहिये।
              </ion-item>
          </ion-list>
        </ion-row>
    
        <ion-row style="margin-top: 10px;">
          <ion-col size="12">
            <ion-label class="responsive-label-header-with-background">
              रोपण
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-list class="dot-item">
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>मानसून के आगमन पर स्वस्थ चंदन के पौधे जिनकी ऊॅंचाई 30 से.मी. हो को 45 से.मी. X 45 से.मी. आकार के गड्ढों में रोपा जाता है।
              </ion-item>
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>इन गड्ढों के मध्य 5 मीटर X 5 मीटर की दूरी होनी चाहिए (एक एकड़ में 160 पौधे)।
              </ion-item>
          </ion-list>
        </ion-row>
    
        <ion-row style="margin-top: 10px;">
          <ion-col size="12">
            <ion-label class="responsive-label-header-with-background">
              होस्ट प्लांट का महत्व
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-list class="dot-item">
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>चंदन एक आंशिक परजीवी/परपोषित पौधा है।
              </ion-item>
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>होस्ट प्लांट अनिवार्य है, अन्यथा चंदन के पौधे का अच्छे विकास नहीं होगा।
              </ion-item>
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>होस्ट प्लांट के रूप में अरहर दाल या तुअर दाल, नीम, केजुरिना, अमलतास, सीताफल, अमरुद, आदि पौधे महत्वपूर्ण है।
              </ion-item>
            </ion-list>
        </ion-row>
    
    
        <ion-row style="margin-top: 10px;">
          <ion-col size="12">
            <ion-label class="responsive-label-header-with-background">
              सिंचाई और निंदाई -
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-list class="dot-item">
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>होस्ट पौधों की नियमित रूप से कटाई और छंटाई करते रहना चाहिए, जिससे चंदन को पूरी तरह सूर्य की रोशनी प्राप्त हो सके ।
              </ion-item>
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>बड़ी शाखाओं को नीचे के तने के पास से काट लेना चाहिए, इससे अधिक से अधिक चंदन प्राप्त होगा और तना सुदृढ़ होगा ।
              </ion-item>
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>निंदाई और सिंचाई आवश्यकतानुसार करनी चाहिए ।
              </ion-item>
            </ion-list>
        </ion-row>
    
    
        <ion-row style="margin-top: 10px;">
          <ion-col size="12">
            <ion-label class="responsive-label-header-with-background">
              कटाई एवं उपज - 
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-list class="dot-item">
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>वृक्ष 15 वर्ष के होने के पश्चात्, वृक्ष के विकास के आधार पर काटा जा सकता है। पेड़ को जड़ से उखाडना चाहिए, क्योंकि जड़ में भी चंदन का तेल रहता है। 
              </ion-item>
          </ion-list>
        </ion-row>
    
    
        <ion-row style="margin-top: 10px;">
          <ion-col size="12">
            <ion-label class="responsive-label-header-with-background">
              चंदन में इंटरक्रॉप
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-list class="dot-item">
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>चंदन के बीच में हम अन्य फसल ले सकते है।
              </ion-item>
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>इंटरक्रॉप के रूप में हम विभिन्न प्रकार की सब्जियो की खेती, फूलो की खेती, गेहू, चना, सोयाबीन, इत्यादि की खेती कर सकते हैं।
              </ion-item>
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>इंटरक्रॉप की फसलो का चंदन पर कोई नकारात्मक प्रभाव नही होता और चंदन का भी उन फसलो पर कोई नकारात्मक प्रभाव नहीं होता।
              </ion-item>
          </ion-list>
        </ion-row>
    
    
    
    
        <ion-row style="margin-top: 10px;">
          <ion-col size="12">
            <ion-label class="responsive-label-header-with-background">
              कटिंग (Pruning)
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-list class="dot-item">
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>अगर दो तन हो तो एक को काट देना चाहिए, जिससे पौधे सीधे चले और तन मोटा हो जाये तथा हार्टवुड अधिक बने।
              </ion-item>
          </ion-list>
        </ion-row>
    
    
        <ion-row style="margin-top: 10px;">
          <ion-col size="12">
            <ion-label class="responsive-label-header-with-background">
              खाद प्रबंधन
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-list class="dot-item">
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>चंदन की खेती करने के लिए वैसे तो ज्यादा फ़र्टिलाइज़र की आवश्यकता नहीं होती, परन्तु चंदन लगाने से पहले व बाद में नियमित रूप से गोबर की खाद, नीम खली एवं जैविक खाद डालते रहना चाहिये, जिससे की अच्छी बढ़त हो।
              </ion-item>
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>इसमें रासायनिक खादों का कम से कम उपयोग करे।
              </ion-item>
          </ion-list>
        </ion-row>
    
    
        <ion-item class="item-style" lines="none" style="font-weight: 700;">
          <span class="dot-separator">•</span>प्रति एकड़ संभावित व्यय की गणना
        </ion-item>
    
        <ion-row style="margin-top: 5px; margin-left: 20px;">
          <img src="assets/img/7th_1st.jpeg"/>
        </ion-row>
    
        <ion-item class="item-style" lines="none" style="font-weight: 700;">
          <span class="dot-separator">•</span>आय - 15 वर्ष पश्चात् 
        </ion-item>
    
        <ion-row style="margin-top: 5px; margin-left: 20px;">
          <img src="assets/img/7th_2nd.jpeg"/>
        </ion-row>
    
    
        <ion-row style="margin-top: 10px; margin-left: 20px;">
          <ion-label style="font-weight: 0;"  class="custom-ion-label">
              <b>नोटः-  1. </b>योजनांतर्गत हितग्राहियों को पौधा रोपण हेतु 05 एकड़ तक 100 प्रतिशत तथा 05 एकड़ से अधिक क्षेत्र हेतु 50 प्रतिशत वित्तीय अनुदान शासन द्वारा हितग्राहियों को प्रदाय किया जावेगा तथा द्वितीय एवं तृतीय वर्ष रखरखाव हेतु प्रति पौधे रू. 07/- की दर से अनुदान राशि हितग्राही के खाते में हस्तातंरित की जावेगी।<br><br>
              <b>2.  </b>सिंचाई एवं घेराबंदी की व्यवस्था हितग्राही को स्वयं करना होगा। 
          </ion-label>
        </ion-row>
    
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>