<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" class="custom-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title class="responsive-toolbar-title">{{ getTranslation('tree_techniques_and_expensed') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="width: 100%; display: flex; justify-content: center;">
      <ion-col size = 12 size-lg="8">
        <ion-row>
          <ion-col size = 12>
            <ion-label class="custom-ion-label">
              किसान वृक्ष मित्र योजना के अंतर्गत मुख्य रूप से निम्नानुसार 05 वृक्ष प्रजातियों की खेती हेतु कृषकों को प्रोत्साहित किया जा रहा है।
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row style="margin-top: 5px;">
          <!-- <img src="assets/img/2nd.jpeg"/> -->
    
          <ion-list>
            <ion-item  class="item-style" lines="none" style="font-weight: 700;">
              1. क्लोनल नीलगिरी (Clonal Eucalyptus)
            </ion-item>
            <ion-item  class="item-style" lines="none" style="font-weight: 700;">
              2. टिशू कल्चर बांस (Tissue Culture bamboo) / साधारण बांस (Ordinary bamboo)
            </ion-item>
            <ion-item  class="item-style" lines="none" style="font-weight: 700;">
              3. टिशू कल्चर सागौन (Tissue Culture Teak)/ साधारण सागौन (Ordinary Teak)
            </ion-item>
            <ion-item  class="item-style" lines="none" style="font-weight: 700;">
              4. मिलिया डूबिया (मालाबार नीम) (Melia dubia -Malabar neem)
            </ion-item>
            <ion-item  class="item-style" lines="none" style="font-weight: 700;">
              5. सफेद चंदन White Sandalwood (santalum album)
            </ion-item>
          </ion-list>
    
        </ion-row>
    
        <ion-row>
          <ion-col size = 12>
            <ion-list>
              <ion-item class="dot-item"  lines="none">
                उपरोक्त वृक्षों की खेती में संभावित व्यय का आंकलन किया गया है, जो एक मार्गदर्शिका के रूप में है। कृषक के आवश्यकतानुसार, रोपण स्थल की स्थिति को देखते हुए व्यय की राशि में भिन्नता हो सकती है।  
              </ion-item>
              <ion-item class="dot-item"  lines="none" style="margin-top: 10px;">
                सभी वृक्षों के परिपक्वता की अवधि के अनुरूप संभावित उत्पादन का आंकलन किया गया है, तथा उसी के आधार पर प्रचलित बाजार दर के अनुसार संभावित आय की जानकारी भी दी गई है। कृषक अपने आवश्यकतानुसार परिपक्वता की अवधि में बदलाव कर सकते है।
              </ion-item>
              <ion-item class="dot-item"  lines="none"  style="margin-top: 10px;">
                सिंचाई एवं घेराबंदी की व्यवस्था हितग्राही को स्वयं करना है तथा उसके अनुरूप संभावित व्यय में वृद्धि हो सकती है। 
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

      </ion-col>
      
    </ion-row>
   

  </ion-grid>
</ion-content>