<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="custom-back-button" (click)="goBack()" defaultHref="/landigpage"></ion-back-button>
    </ion-buttons>

    <ion-title class="responsive-toolbar-title">
      प्रगति प्रतिवेदन
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="exportToExcel()">
        Export To Excel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <div class="report-container">
    <h2 class="report-title">
      अनुसंधान विस्तार प्रभाग<br />
      <strong>किसान वृक्ष मित्र योजना अन्तर्गत वर्ष {{fiencial_year}} में रोपण विवरण / प्रगति</strong>
    </h2>
    <p class="report-date">दिनांक: {{todayDate}}</p>

    <div class="filter-section" *ngIf="!isRO">
      <div class="filter-grid">
        <div class="filter-item" *ngIf="isSuperAdmin">
          <label class="filter-label">
            <ion-icon name="business-outline"></ion-icon>
            वृत्त
          </label>
          <ng-select [items]="listOfCircle" bindLabel="name" bindValue="id" [(ngModel)]="formData.circle_id"
            name="circle" [searchable]="true" [clearable]="false" placeholder="वृत्त चुनें"
            (change)="onCircleChange($event)" required class="custom-select">
          </ng-select>
        </div>

        <div class="filter-item" *ngIf="isSuperAdmin || isCircleAdmin">
          <label class="filter-label">
            <ion-icon name="map-outline"></ion-icon>
            वनमण्डल
          </label>
          <ng-select [items]="listOfDivision" bindLabel="name" bindValue="id" [(ngModel)]="formData.division_id"
            name="division" [searchable]="true" [clearable]="false" placeholder="वनमण्डल चुनें"
            (change)="onDivisionChange($event)" required class="custom-select">
          </ng-select>
        </div>

        <div class="filter-item" *ngIf="isSuperAdmin || isCircleAdmin || isDivisionAdmin">
          <label class="filter-label">
            <ion-icon name="location-outline"></ion-icon>
            परिक्षेत्र
          </label>
          <ng-select [items]="listOfRang" bindLabel="name" bindValue="id" [(ngModel)]="formData.range_id"
            name="range" [searchable]="true" [clearable]="false" placeholder="परिक्षेत्र चुनें" required
            class="custom-select" (change)="onRangeChange($event)">
          </ng-select>
        </div>
      </div>
    </div>



    <div class="table-wrapper">
      <table class="report-table">
        <thead>
          <tr #headerRow>
            <th rowspan="2">क्र.</th>
            <th rowspan="2">वृत्त का नाम</th>
            <th rowspan="2">जिले का नाम</th>
            <th rowspan="2">वनमंडल का नाम</th>

            <th colspan="4">टिश्यू कल्चर सागौन</th>
            <th colspan="4">साधारण सागौन</th>
            <th colspan="4">टिश्यू कल्चर बाँस</th>
            <th colspan="4">साधारण बाँस</th>
            <th colspan="4">क्लोनल नीलगिरी</th>
            <th colspan="4">चंदन पौधा</th>
            <th colspan="4">मिलिया डूबिया</th>
            <th colspan="4">अन्य आर्थिक लाभकारी पौधा</th>
            <th colspan="4">महायोग</th>
            <th rowspan="2">प्रतिशत</th>
          </tr>

          <tr>
            <th>किसानों की संख्या</th>
            <th>क्षेत्रफल (एकड़)</th>
            <th>रोपण लक्ष्य</th>
            <th>रोपित पौधों की संख्या</th>

            <th>किसानों की संख्या</th>
            <th>क्षेत्रफल (एकड़)</th>
            <th>रोपण लक्ष्य</th>
            <th>रोपित पौधों की संख्या</th>

            <th>किसानों की संख्या</th>
            <th>क्षेत्रफल (एकड़)</th>
            <th>रोपण लक्ष्य</th>
            <th>रोपित पौधों की संख्या</th>

            <th>किसानों की संख्या</th>
            <th>क्षेत्रफल (एकड़)</th>
            <th>रोपण लक्ष्य</th>
            <th>रोपित पौधों की संख्या</th>

            <th>किसानों की संख्या</th>
            <th>क्षेत्रफल (एकड़)</th>
            <th>रोपण लक्ष्य</th>
            <th>रोपित पौधों की संख्या</th>

            <th>किसानों की संख्या</th>
            <th>क्षेत्रफल (एकड़)</th>
            <th>रोपण लक्ष्य</th>
            <th>रोपित पौधों की संख्या</th>

            <th>किसानों की संख्या</th>
            <th>क्षेत्रफल (एकड़)</th>
            <th>रोपण लक्ष्य</th>
            <th>रोपित पौधों की संख्या</th>

            <th>किसानों की संख्या</th>
            <th>क्षेत्रफल (एकड़)</th>
            <th>रोपण लक्ष्य</th>
            <th>रोपित पौधों की संख्या</th>

            <th>कुल किसानों की संख्या</th>
            <th>कुल क्षेत्रफल (एकड़)</th>
            <th>कुल रोपण लक्ष्य</th>
            <th>कुल रोपित पौधों की संख्या</th>

          </tr>

          <!-- 🟨 AUTO COLUMN NUMBER ROW -->
          <tr class="number-row">
            <ng-container *ngFor="let n of columnNumbers">
              <td>{{ n }}</td>
            </ng-container>
          </tr>
        </thead>

        <!-- 🟧 BODY -->
        <tbody>
          <tr *ngFor="let item of reportData; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.circle_name }}</td>
            <td>{{ item.dist_name }}</td>
            <td>{{ item.div_name }}</td>

            <!-- Tissue Culture Sagwan -->
            <td>{{ item.sagwan_tc_farmers }}</td>
            <td>{{ item.sagwan_tc_area }}</td>
            <td>{{ item.sagwan_tc_target }}</td>
            <td>{{ item.sagwan_tc_planted }}</td>

            <!-- Normal Sagwan -->
            <td>{{ item.sagwan_normal_farmers }}</td>
            <td>{{ item.sagwan_normal_area }}</td>
            <td>{{ item.sagwan_normal_target }}</td>
            <td>{{ item.sagwan_normal_planted }}</td>

            <!-- Tissue Culture Bamboo -->
            <td>{{ item.bamboo_tc_farmers }}</td>
            <td>{{ item.bamboo_tc_area }}</td>
            <td>{{ item.bamboo_tc_target }}</td>
            <td>{{ item.bamboo_tc_planted }}</td>

            <!-- Normal Bamboo -->
            <td>{{ item.bamboo_normal_farmers }}</td>
            <td>{{ item.bamboo_normal_area }}</td>
            <td>{{ item.bamboo_normal_target }}</td>
            <td>{{ item.bamboo_normal_planted }}</td>

            <!-- Clonal Eucalyptus -->
            <td>{{ item.eucalyptus_farmers }}</td>
            <td>{{ item.eucalyptus_area }}</td>
            <td>{{ item.eucalyptus_target }}</td>
            <td>{{ item.eucalyptus_planted }}</td>

            <!-- Chandan -->
            <td>{{ item.chandan_farmers }}</td>
            <td>{{ item.chandan_area }}</td>
            <td>{{ item.chandan_target }}</td>
            <td>{{ item.chandan_planted }}</td>

            <!-- Milia Dubia -->
            <td>{{ item.milia_farmers }}</td>
            <td>{{ item.milia_area }}</td>
            <td>{{ item.milia_target }}</td>
            <td>{{ item.milia_planted }}</td>

            <!-- Other -->
            <td>{{ item.other_farmers }}</td>
            <td>{{ item.other_area }}</td>
            <td>{{ item.other_target }}</td>
            <td>{{ item.other_planted }}</td>

            <!-- Total -->
            <td>{{ item.total_farmers }}</td>
            <td>{{ item.total_area }}</td>
            <td>{{ item.total_target }}</td>
            <td>{{ item.total_planted }}</td>

            <!-- Percentage -->
            <td>{{ item.percentage }}%</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>

</ion-content>