<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="custom-back-button" (click)="goBack()" defaultHref="/landigpage"></ion-back-button>
    </ion-buttons>

    <ion-title class="responsive-toolbar-title">
      प्रगति प्रतिवेदन
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="exportToExcel()">
        Export To Excel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <div class="report-container">
    <h2 class="report-title">
      अनुसंधान विस्तार प्रभाग<br />
      वित्तीय वर्ष 2025–26 में किसान वृक्ष मित्र योजना के क्रियान्वयन / वृक्षारोपण की प्रगति
    </h2>
    <p class="report-date">दिनांक: {{todayDate}}</p>

    <div class="table-wrapper">
      <table class="report-table">
        <thead>
          <tr #headerRow>
            <th rowspan="2">क्र.</th>
            <th rowspan="2">वृत्त का नाम</th>
            <th rowspan="2">जिले का नाम</th>
            <th rowspan="2">वनमंडल का नाम</th>

            <th colspan="4">टिश्यू कल्चर सागौन</th>
            <th colspan="4">साधारण सागौन</th>
            <th colspan="4">टिश्यू कल्चर बाँस</th>
            <th colspan="4">साधारण बाँस</th>
            <th colspan="4">क्लोनल नीलगिरी</th>
            <th colspan="4">चंदन पौधा</th>
            <th colspan="4">मिलिया डूबिया</th>
            <th colspan="4">अन्य आर्थिक लाभकारी पौधा</th>
            <th colspan="4">महायोग</th>
            <th rowspan="2">प्रतिशत</th>
          </tr>

          <tr>
            <th>किसानों की संख्या</th>
            <th>क्षेत्रफल (एकड़)</th>
            <th>रोपण लक्ष्य</th>
            <th>रोपित पौधों की संख्या</th>

            <th>किसानों की संख्या</th>
            <th>क्षेत्रफल (एकड़)</th>
            <th>रोपण लक्ष्य</th>
            <th>रोपित पौधों की संख्या</th>

            <th>किसानों की संख्या</th>
            <th>क्षेत्रफल (एकड़)</th>
            <th>रोपण लक्ष्य</th>
            <th>रोपित पौधों की संख्या</th>

            <th>किसानों की संख्या</th>
            <th>क्षेत्रफल (एकड़)</th>
            <th>रोपण लक्ष्य</th>
            <th>रोपित पौधों की संख्या</th>

            <th>किसानों की संख्या</th>
            <th>क्षेत्रफल (एकड़)</th>
            <th>रोपण लक्ष्य</th>
            <th>रोपित पौधों की संख्या</th>

            <th>किसानों की संख्या</th>
            <th>क्षेत्रफल (एकड़)</th>
            <th>रोपण लक्ष्य</th>
            <th>रोपित पौधों की संख्या</th>

            <th>किसानों की संख्या</th>
            <th>क्षेत्रफल (एकड़)</th>
            <th>रोपण लक्ष्य</th>
            <th>रोपित पौधों की संख्या</th>

            <th>किसानों की संख्या</th>
            <th>क्षेत्रफल (एकड़)</th>
            <th>रोपण लक्ष्य</th>
            <th>रोपित पौधों की संख्या</th>

            <th>कुल किसानों की संख्या</th>
            <th>कुल क्षेत्रफल (एकड़)</th>
            <th>कुल रोपण लक्ष्य</th>
            <th>कुल रोपित पौधों की संख्या</th>

          </tr>

          <!-- 🟨 AUTO COLUMN NUMBER ROW -->
          <tr class="number-row">
            <ng-container *ngFor="let n of columnNumbers">
              <td>{{ n }}</td>
            </ng-container>
          </tr>
        </thead>

        <!-- 🟧 BODY -->
        <tbody>
          <tr *ngFor="let item of reportData; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.circleName }}</td>
            <td>{{ item.districtName }}</td>
            <td>{{ item.divisionName }}</td>

            <!-- Example cells (add rest as needed) -->
            <td>{{ item.tc_sagwan_farmers }}</td>
            <td>{{ item.tc_sagwan_area }}</td>
            <td>{{ item.tc_sagwan_plants }}</td>
            <td>{{ item.tc_sagwan_planted }}</td>
            <!-- ... continue all other fields ... -->
          </tr>
        </tbody>
      </table>
    </div>


  </div>

</ion-content>