<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Change Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <div class="form-container">
        <div class="header-icon ion-text-center">
            <div class="icon-circle">
                <ion-icon name="lock-closed-outline"></ion-icon>
            </div>
            <h2>Secure Your Account</h2>
            <p>Your new password should be different from your old one.</p>
        </div>

        <ion-list lines="none">
            <div class="input-group">
                <ion-label>Old Password</ion-label>
                <ion-item class="custom-item">
                    <ion-input [type]="showOldPassword ? 'text' : 'password'" [(ngModel)]="oldPassword"
                        placeholder="Enter old password"></ion-input>
                    <ion-button slot="end" fill="clear" (click)="togglePasswordVisibility('old')">
                        <ion-icon [name]="showOldPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
                    </ion-button>
                </ion-item>
            </div>

            <div class="input-group">
                <ion-label>New Password</ion-label>
                <ion-item class="custom-item">
                    <ion-input [type]="showNewPassword ? 'text' : 'password'" [(ngModel)]="newPassword"
                        placeholder="Enter new password"></ion-input>
                    <ion-button slot="end" fill="clear" (click)="togglePasswordVisibility('new')">
                        <ion-icon [name]="showNewPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
                    </ion-button>
                </ion-item>
            </div>

            <div class="input-group">
                <ion-label>Confirm New Password</ion-label>
                <ion-item class="custom-item">
                    <ion-input [type]="showConfirmPassword ? 'text' : 'password'" [(ngModel)]="confirmPassword"
                        placeholder="Confirm new password"></ion-input>
                    <ion-button slot="end" fill="clear" (click)="togglePasswordVisibility('confirm')">
                        <ion-icon [name]="showConfirmPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
                    </ion-button>
                </ion-item>
            </div>
        </ion-list>

        <div class="ion-margin-top">
            <ion-button expand="block" shape="round" class="submit-btn" (click)="changePassword()">
                Change Password
            </ion-button>
        </div>
    </div>

    <ion-loading [isOpen]="isLoading" message="Changing password..."></ion-loading>
</ion-content>