<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" class="custom-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title class="responsive-toolbar-title">{{ getTranslation('tissue_cluture_sagon') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="width: 100%; display: flex; justify-content: center;">
      <ion-col size = 12 size-lg="8">
        <ion-row style="margin-top: 10px;">
          <ion-col size="12">
            <ion-label class="responsive-label-header-with-background">
              उपयोग:-
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-list class="dot-item">
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>सागौन लकड़ी का उपयोग बल्लियों के रूप में तथा महत्वपूर्ण ईमारती काष्ठ के रूप में किया जाता है। 
              </ion-item>
          </ion-list>
        </ion-row>
    
        <ion-row style="margin-top: 10px;">
          <ion-col size="12">
            <ion-label class="responsive-label-header-with-background">
              व्यावसायिक रोपण हेतु अंतराल:-
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-list class="dot-item">
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>पौधों के बीच का अंतराल - 4 मी. ग 4 मी.   ( प्रति एकड़ 250 पौधे)
              </ion-item>
          </ion-list>
        </ion-row>
    
        <ion-row style="margin-top: 10px;">
          <ion-col size="12">
            <ion-label class="responsive-label-header-with-background">
              वृक्षारोपण प्रक्रिया:-
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-list class="dot-item">
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>45X45X45 सेमी साईज के गड्ढ़ों 4 मी.X4 मी. के अंतराल (इससे पौधों के बीच औषधीय या अन्य कृषि उपज की खेती किया जा सकता है) में खुदाई, गड़ढ़ों में गोबर खाद, विभिन्न रासायनिक उर्वरकों, कीट एवं फफूंद नाषक पाउडर उपजाऊ मिट्टी एवं जैविक खाद का मिश्रण डालना, पौधा रोपण, निंदाई, गुड़ाई एवं थाला बनाई आदि कार्य के पश्चात् रख-रखाव, अग्नि सुरक्षा, चराई से सुरक्षा करना। 
              </ion-item>
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>टिशू कल्चर सागौन के खेती हेतु सिंचाई की सुविधा उपलब्ध होना अनिवार्य है।
              </ion-item>
    
              <ion-row>
                <ion-col size = 12> 
                  <span class="dot-separator">•</span><ion-label class="custom-ion-label">व्यय एवं आय की गणना</ion-label>
                </ion-col>
              </ion-row>
    
              <ion-row style="margin-top: 5px; margin-left: 20px;">
                <img src="assets/img/6th_1st.jpeg"/>
              </ion-row>
    
    
              <ion-row>
                <ion-col size = 12> 
                  <span class="dot-separator">•</span><ion-label class="custom-ion-label">आय - 12 वर्ष पश्चात् </ion-label>
                </ion-col>
              </ion-row>
    
              <ion-row style="margin-top: 5px; margin-left: 20px;">
                <img src="assets/img/6th_2nd.jpeg"/>
              </ion-row>
    
            </ion-list>
        </ion-row>
    
    
        <ion-row style="margin-top: 10px; margin-left: 20px;">
          <ion-label style="font-weight: 0; " class="custom-ion-label">
              <b>नोटः-  1. </b>योजनांतर्गत हितग्राहियों को पौधा रोपण हेतु 05 एकड़ तक 100 प्रतिशत तथा 05 एकड़ से अधिक क्षेत्र हेतु 50 प्रतिशत वित्तीय अनुदान शासन द्वारा हितग्राहियों को प्रदाय किया जावेगा तथा द्वितीय एवं तृतीय वर्ष रखरखाव हेतु प्रति पौधे रू. 07/- की दर से अनुदान राशि हितग्राही के खाते में हस्तातंरित की जावेगी।<br><br>
              <b>2.  </b>सिंचाई एवं घेराबंदी की व्यवस्था हितग्राही को स्वयं करना होगा। 
          </ion-label>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>