.custom-dialog-modal {
  --width: 90%;
  --max-width: 400px;
  --height: auto;
  --border-radius: 16px;
  --box-shadow: 0 4px 24px rgba(0, 0, 0, 0.3);
  --background: #fff;

  // prevent fullscreen on small devices
  ion-modal {
    align-items: center;
    justify-content: center;
  }
}

.custom-dialog-modal::part(content) {
  border-radius: 16px;
  padding: 16px;
  height: auto;
}

.responsive-label {
  font-size: 16px;
}

/* Medium screens (tablets) */
@media (min-width: 600px) {
  .responsive-label {
    font-size: 20px;
  }
}

/* Large screens (desktops) */
@media (min-width: 1024px) {
  .responsive-label {
    font-size: 28px;
  }
}

.dialog-wrapper {
  // background: #fff;
  // border-radius: 16px;
  padding: 24px 20px;
  // box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 90vw;
  margin: 0 auto;
}
