<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Enter OTP</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss('')">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="otp-container" justify-content-center>
    <ion-col size="2" *ngFor="let item of otp; let i = index">
      <ion-input #otpInput type="text" maxlength="1" inputmode="numeric" [(ngModel)]="otp[i]"
        (ionInput)="moveFocus($event, i)" class="otp-box"></ion-input>
    </ion-col>
  </ion-row>
  <ion-button expand="full" (click)="submitOtp()">Submit</ion-button>
</ion-content>