.otp-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .otp-box {
    text-align: center;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 50px;
    width: 50px;
    --padding-start: 0;
    --padding-end: 0;
  }
  
  ion-button {
    margin-top: 20px;
  }