<ion-header>
  <ion-toolbar>  
    <ion-title class="responsive-toolbar-title" style="text-align: center;" >
      योजना की जानकारी 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="overflow: auto; touch-action: pan-x pan-y;">
    <ion-row style="width: 100%; display: flex; justify-content: center;">
      <ion-col size=12 size-lg="8">
        <!-- <ion-row>
          <ion-col size = 12>
            <ion-label class="custom-ion-label">
            "किसान वृक्ष मित्र योजना" का मुख्य उद्देश्य कृषकों/अन्य हितग्राहियों के निजी भूमि पर वाणिज्यिक प्रजातियों के वृक्षारोपण कर, सहयोगी संस्था/निजी कम्पनियों की माध्यम से इस योजना के हितग्राहियों से उत्पाद का वापस खरीद (buyback) सुनिश्चित करते हुए, उनके आय में बढ़ोत्तरी करना, काष्ठ एवं प्लाईवुड आधारित उद्योगों को बढ़ावा देते हुए अतिरिक्त कर के रूप में शासन के राजस्व में वृद्धि लाना, रोजगार सृजन करना, वृक्षारोपण कार्य में सहयोगी संस्थाओं की सहभागिता से शासन के वित्तीय भार को कम करना है।
            </ion-label>
          </ion-col>
        </ion-row> -->

        <!-- First Point -->
        <ion-row style="margin-top: 8px;">
          <ion-col size="12">
            <ion-label class="responsive-label-header-with-background">
              योजना की जानकारी:-
            </ion-label>
          </ion-col>
        </ion-row>


        <ion-row style="margin-top: 5px;">

          <ion-list class="dot-item">

            <ion-item class="item-style" lines="none">
              <span class="dot-separator">•</span>"किसान वृक्ष मित्र योजना" का मुख्य उद्देश्य कृषकों/अन्य हितग्राहियों
              के निजी भूमि पर वाणिज्यिक प्रजातियों के वृक्षारोपण करना।
            </ion-item>

            <ion-item class="item-style" lines="none">
              <span class="dot-separator">•</span>समस्त वर्ग के सभी इच्छुक भूमि स्वामी, शासकीय, अर्ध शासकीय एवं शासन की
              स्वायत्तसंस्थाऐं, निजी शिक्षण संस्थाएं, निजी ट्रस्ट, गैर शासकीय संस्थाऐं, पंचायतें तथा भूमि अनुबंध धारक
              इस योजना का लाभ ले सकते है।
            </ion-item>
            
            <ion-item class="item-style" lines="none">
              <span class="dot-separator">•</span>योजना अंतर्गत वाणिज्यिक प्रजातियां- टिशू कल्चर सागौन, साधारण सागौन,
              टिशू कल्चर बांस, साधारण बांस, क्लोनल नीलगिरी, मिलियाडूबिया एवं चंदन पौधा रोपण किये जाने हेतु
              कृषक/हितग्राहियों को प्रोत्साहित किया जा रहा है।
            </ion-item>
            <ion-item class="item-style" lines="none">
              <span class="dot-separator">•</span>05 एकड़ तक रोपण हेतु 100 प्रतिशत तथा 05 एकड़ से अधिक क्षेत्र में रोपण
              हेतु 50 प्रतिशत वित्तीय अनुदान शासन द्वारा हितग्राहियों को प्रदाय किये जाने का प्रावधान है।
            </ion-item>
            <ion-item class="item-style" lines="none">
              <span class="dot-separator">•</span>राज्य में इस योजना के माध्यम से प्रति वर्ष 36,000 एकड़ की मान से कुल 05
              वर्षो में 1,80,000 एकड़ में 15 करोड़ पौधों के रोपण का लक्ष्य है।
            </ion-item>
            <ion-item class="item-style" lines="none">
              <span class="dot-separator">•</span>सहयोगी संस्था/निजी कम्पनियों की सहभागिता की स्थिति में उक्त प्रजातियों
              के वृक्षों का वापस खरीद ;(buyback) सुनिश्चित करना।
            </ion-item>
            <ion-item class="item-style" lines="none">
              <span class="dot-separator">•</span>चयनित प्रजातियों के लिए प्रति वर्ष न्यूनतम क्रय मूल्य का निर्धारण करते
              हुए उनके आय में बढ़ोत्तरी करना ।
            </ion-item>
            <ion-item class="item-style" lines="none">
              <span class="dot-separator">•</span>काष्ठ एवं प्लाईवुड आधारित उद्योगों को बढ़ावा देते हुए अतिरिक्त कर के
              रूप में शासन के राजस्व में वृद्धि लाना ।
            </ion-item>
            <ion-item class="item-style" lines="none">
              <span class="dot-separator">•</span>रोजगार सृजन करना, वृक्षारोपण कार्य में सहयोगी संस्थाओं की सहभागिता से
              शासन के वित्तीय भार को कम करना है।
            </ion-item>
          </ion-list>
        </ion-row>

        <!-- Second Point -->
        <ion-row style="margin-top: 8px;">
          <ion-col size="12">
            <ion-label class="responsive-label-header-with-background">
              योजना का संक्षिप्त विवरण:-
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row style="margin-top: 5px;">
          <ion-list class="dot-item">
            <ion-item class="item-style" lines="none">
              <span class="dot-separator">•</span>इस योजना के अंतर्गत पात्र हितग्राहियों (निजी भूमि स्वामी, शासकीय,
              अर्ध-शासकीय एवं शासन के स्वायत्त संस्थाऐं) को 05 एकड़ तक भूमि पर (अधिकतम 5000 पौधें) पौधों का रोपण हेतु 100
              प्रतिशत अनुदान दिया जावेगा। </ion-item>
            <ion-item class="item-style" lines="none">
              <span class="dot-separator">•</span>वृक्षारोपण 05 एकड़ से अधिक भूमि में होने पर (प्रति एकड़ अधिकतम 1000
              पौधें) पात्र हितग्राहियों को वन एवं जलवायु परिवर्तन विभाग द्वारा निर्धारित वित्तीय अनुदान का 50 प्रतिशत ही
              दिया जावेगा तथा शेष राशि हितग्राहियों को स्वयं वहन करना होगा।</ion-item>
            <ion-item class="item-style" lines="none">
              <span class="dot-separator">•</span>05 एकड़ तक रोपण हेतु वन एवं जलवायु परिवर्तन विभाग द्वारा हितग्राहियों
              को बांस, सागौन, सफेद चंदन, क्लोनल नीलगिरी एवं मालाबार नीम पौधों को निर्धारित प्रति एकड़ संख्या के अनुसार
              निःशुल्क प्रदाय किया जावेगा।</ion-item>
            <ion-item class="item-style" lines="none">
              <span class="dot-separator">•</span>शासन द्वारा प्रतिवर्ष चयनित प्रजातियां-क्लोनल नीलगिरी, बांस एवं मिलिया
              डूबिया (मालाबार नीम) हेतु न्यूनतम क्रय मूल्य का निर्धारण किया जावेगा। </ion-item>
            <ion-item class="item-style" lines="none">
              <span class="dot-separator">•</span>सागौन एक राष्ट्रीयकृत वनोपज होने के कारण वन एवं जलवायु परिवर्तन विभाग
              द्वारा ही शासन द्वारा निर्धारित दर पर हितग्राहियों से सागौन वृक्षों का क्रय किया जावेगा। </ion-item>
            <ion-item class="item-style" lines="none">
              <span class="dot-separator">•</span>शासन द्वारा सहयोगी संस्था/निजी कम्पनियों के माध्यम से इस योजना के
              अंतर्गत रोपित क्लोनल नीलगिरी की वापस खरीद ;(buyback) हेतु प्रयास किया जावेगा।</ion-item>
          </ion-list>
        </ion-row>

        <ion-row style="margin-top: 8px;">
          <ion-grid>
            <ion-row>
              <ion-label class="item-style" style="color: red;">
                ‘‘किसान वृक्ष मित्र योजना‘‘ हेतु प्रजातिवार 03 वर्षो के लिए निर्धारित नॉर्म्स
              </ion-label>
            </ion-row>
            <ion-row style="margin-top: 5px;">
              <img src="assets/img/1st_5th_11th.jpeg" />
            </ion-row>

            <ion-row style="margin-top: 5px;">
              <ion-list class="dot-item">
                <ion-item class="item-style" lines="none">
                  a) प्रथम वर्ष में क्षेत्र तैयारी एवं रोपण तथा आगामी दो वर्षों में जीवित पौधों के संख्या के आधार पर
                  रख-रखाव हेतु अनुदान दिया जावेगा। प्रथम वर्ष के व्यय में पौधें का मूल्य भी सम्मिलित है। </ion-item>
                <ion-item class="item-style" lines="none">
                  b) द्वितीय एवं तृतीय वर्ष के रख-रखाव हेतु रोपित पौधों के जीवित प्रतिशत के अनुपात में हितग्राही को
                  अनुदान राशि दिया जावेगा।</ion-item>
                <ion-item class="item-style" lines="none">
                  c) वन एवं जलवायु परिवर्तन विभाग द्वारा कृषक सर्वेक्षण, पौधों की गणना एवं क्षेत्रीय कार्यो में तकनीकी
                  सहायता एवं अभिलेखीकरण कार्य में शिक्षित ग्रामीणों का उपयोग ‘कृषि वानिकी प्रेरक‘ के रूप में किया जा
                  सकेगा। </ion-item>
                <ion-item class="item-style" lines="none">
                  d) रोपण कार्य में क्षेत्र तैयारी, गड्डा खुदाई, खाद एवं कीटनाशक प्रयोग, रोपण, निंदाई, गुड़ाई आदि
                  सम्मिलित है तथा रोपण क्षेत्र का घेराबंधी (फेंसिंग) एवं सिंचाई की सुविधा सम्मिलित नहीं है। </ion-item>
                <ion-item class="item-style" lines="none">
                  e) मद्ध योजना में पौधों की प्रजाति के आधार पर प्रति एकड़ पौधों की संख्या एवं प्रस्तावित अंतराल
                  निम्नानुसार रहेगा </ion-item>

                <img src="assets/img/1st_5th_16th.jpeg" />

                <ion-item class="item-style" lines="none" style="font-weight: 700;">
                  नोटः-
                </ion-item>
                <ion-item class="item-style" lines="none">
                  <span class="dot-separator">•</span>
                  पौधों का अंतराल एवं प्रति एकड़ संख्या उपरोक्तानुसार निर्धारित है। निर्धारित प्रति एकड़ पौधों की संख्या
                  से अधिक पौधें किसी भी स्थिति में प्रदाय नही की जावेगी। </ion-item>

                <ion-item class="item-style" lines="none">
                  <span class="dot-separator">•</span> व्यय की अधिकतम राशि का आंकलन उपरोक्तानुसार निर्धारित पौधों की
                  संख्या के आधार पर ही किया जायेगा। </ion-item>
                <ion-item class="item-style" lines="none">
                  <span class="dot-separator">•</span> प्रति एकड़ अन्य आर्थिक लाभकारी पौधों की संख्या का निर्धारण प्रजाति
                  के अनुसार वनमंडलाधिकारी द्वारा निर्धारित किया जावेगा। </ion-item>

                <ion-item class="item-style" lines="none">
                  f) योजना मे तीन वर्षो तक अनुश्रवण एवं मूल्यांकन समय-समय पर नियमानुसार वन एवं जलवायु परिवर्तन विभाग
                  द्वारा किया जावेगा। </ion-item>
                <ion-item class="item-style" lines="none">
                  g) इस योजना के हितग्राही केन्द्र/राज्य शासन की अन्य योजनाओं का लाभ लेने हेतु पात्र होंगे।</ion-item>
                <ion-item class="item-style" lines="none">
                  h) इस योजना के हितग्राही अपनी निजी भूमि के बाकि हिस्सों में आवश्यकतानुसार खेती कर सकेंगे। </ion-item>

              </ion-list>
            </ion-row>

          </ion-grid>

        </ion-row>


        <!-- Third Point -->
        <ion-row style="margin-top: 8px;">
          <ion-col size="12">
            <ion-label class="responsive-label-header-with-background">
              योजना की पात्रता:-
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row style="margin-top: 8px;">
          <ion-list>
            <ion-item class="item-style" lines="none">
              (अ) समस्त वर्ग के सभी इच्छुक भूमि स्वामी।
            </ion-item>
            <ion-item class="item-style" lines="none">
              (ब) शासकीय, अर्ध-शासकीय एवं शासन के स्वायत्त संस्थाऐं जो अपने स्वयं के भूमि पर रोपण करना चाहते है।
            </ion-item>
            <ion-item class="item-style" lines="none">
              (स) निजी शिक्षण संस्थाऐं, निजी ट्रस्ट, गैर शासकीय संस्थाऐं, पंचायतें, भूमि अनुबंध धारक (leased land
              holder) जो अपने भूमि में रोपण करना चाहते है।
            </ion-item>
          </ion-list>
        </ion-row>

        <!-- Fourth Point -->
        <ion-row style="margin-top: 15px;">
          <ion-col size="12">
            <ion-label class="responsive-label-header-with-background">
              कृषकों का चयन :-
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row style="margin-top: 8px;">
          <ion-list>
            <ion-item class="item-style" lines="none">
              वन एवं जलवायु परिवर्तन विभागके क्षेत्रीय अमले, सहयोगी संस्था/निजी कम्पनी के क्षेत्रीय अमलें तथा विभाग के
              विभिन्न योजनाओं में कार्यरत प्रेरकों द्वारा इच्छुक हितग्राहियों से संपर्क कर उनकी सहमति के आधार पर इस
              योजना के हितग्राही के रूप में चयन किया जावेगा।
            </ion-item>
          </ion-list>
        </ion-row>

        <!-- Sixth Point -->
        <ion-row style="margin-top: 15px;">
          <ion-col size="12">
            <ion-label class="responsive-label-header-with-background">
              योजना के लाभ:
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-list>
            <ion-item class="item-style" lines="none">1. सहयोगी संस्था/निजी कम्पनी के माध्यम से कृषकों से वापस खरीद
              ;(buyback) की व्यवस्था से उनके आय में वृद्धि ।</ion-item>
            <ion-item class="item-style" lines="none">2. काष्ठ एवं प्लाईवुड आधारित उद्योगों को बढ़ावा देते हुए अप्रत्यक्ष
              रूप से शासन के राजस्व में वृद्धि। </ion-item>
            <ion-item class="item-style" lines="none">3. सहयोगी संस्थाओं की सहभागिता से शासन के वित्तीय भार को कम
              करना।</ion-item>
            <ion-item class="item-style" lines="none">4. गैर वनभूमि में वानिकी विस्तार।</ion-item>
            <ion-item class="item-style" lines="none">5. प्रतिवर्ष अतिरिक्त मानव दिवस रोजगार का सृजन।</ion-item>
            <ion-item class="item-style" lines="none">6. पड़त भूमि का विकास।</ion-item>
            <ion-item class="item-style" lines="none">7. आदिवासी एवं अन्य पिछड़े वर्गों के आय में वृद्धि।</ion-item>
            <ion-item class="item-style" lines="none">8. पर्यावरण में सुधार एवं जलवायु परिवर्तन के विपरीत प्रभावों को कम
              करना।</ion-item>
            <ion-item class="item-style" lines="none">9. भविष्य में वृक्षारोपण क्षेत्रों से कार्बन क्रेडिट के रूप में
              कृषकों को अतिरिक्त आय उपलब्ध कराना।</ion-item>
          </ion-list>

        </ion-row>

        <ion-row style="margin-top: 10px;">
          <ion-label class="item-style" style="font-weight: 700;  padding: 5px;">
            इस योजना के क्रियान्वयन के संबंध में यदि भविष्य में दिशा-निर्देशों में आंशिक बदलाव करने की आवश्यकता होती है
            तो उसके लिए वन एवं जलवायु परिवर्तन विभाग को अधिकृत किया जाना प्रस्तावित है।
          </ion-label>
        </ion-row>

      </ion-col>

    </ion-row>


  </ion-grid>

</ion-content>