<ion-header class="ion-no-border">
  <ion-toolbar class="dark-gradient-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/landingpage" color="light"></ion-back-button>
    </ion-buttons>

    <ion-title>Create Batch Bill</ion-title>

    <ion-buttons slot="end">
      <ion-badge color="light">{{ selectedAwedans.length }} Selected</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [class.dark-mode]="isDarkMode" class="ion-padding">

  <div class="main-container">

    <!-- SINGLE GLASS CARD -->
    <div class="glass-card">

      <!-- FILTERS -->
      <div class="section">
        <ion-row class="ion-align-items-end g-3">
          <ion-col size="12" size-md="4" class="cutome_padding">
            <label class="label">Select Type</label>
            <ng-select [items]="billTypes" bindLabel="name" bindValue="id" [(ngModel)]="selectedBillType"
              [searchable]="false" [clearable]="false" class="custom-select">
              <ng-template ng-label-tmp let-item="item">
                <div class="flex-align">
                  <ion-icon [name]="item.icon"></ion-icon>
                  <span>{{item.name}}</span>
                </div>
              </ng-template>
              <ng-template ng-option-tmp let-item="item">
                <div class="flex-align">
                  <ion-icon [name]="item.icon"></ion-icon>
                  <span>{{item.name}}</span>
                </div>
              </ng-template>
            </ng-select>
          </ion-col>

          <ion-col size="12" size-md="4" class="cutome_padding">
            <label class="label">Select Year</label>
            <ng-select [items]="years" bindLabel="name" bindValue="id" [(ngModel)]="selectedYear" [searchable]="false"
              [clearable]="false" class="custom-select">
              <ng-template ng-label-tmp let-item="item">
                <div class="flex-align">
                  <ion-icon name="calendar-outline"></ion-icon>
                  <span>{{item.name}}</span>
                </div>
              </ng-template>
              <ng-template ng-option-tmp let-item="item">
                <div class="flex-align">
                  <ion-icon name="calendar-outline"></ion-icon>
                  <span>{{item.name}}</span>
                </div>
              </ng-template>
            </ng-select>
          </ion-col>

          <ion-col size="12" size-md="4" class="cutome_padding">
            <ion-button expand="block" (click)="loadData()" class="search-btn">
              <ion-icon name="search-outline" slot="start"></ion-icon>
              Search
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-item lines="none" class="search-item mt-3">
          <ion-icon name="search-outline" slot="start"></ion-icon>
          <ion-input placeholder="Search by Application No, Name or Father Name" [(ngModel)]="searchText"
            (ionInput)="applyFilters()">
          </ion-input>
        </ion-item>

        <div class="description-section mt-3">
          <label class="label">Description</label>
          <ion-textarea [(ngModel)]="description" placeholder="Enter batch description here..." rows="3"
            class="custom-textarea">
          </ion-textarea>
        </div>
      </div>

      <!-- TABLE -->


      <div class="table-container">
        <p-table [value]="filteredAwedans" dataKey="application_number" responsiveLayout="stack" breakpoint="768px"
          [paginator]="true" [rows]="10" class="batch-table">

          <ng-template pTemplate="header">
            <tr>

              <th style="padding-left: 35px;">Bill Number</th>
              <th style="padding-left: 20px;" >Application No</th>
              <th>Name</th>
              <th style="width: 4rem" class="selection-column">
                <ion-checkbox
                  [checked]="selectedAwedans.length === filteredAwedans.length && filteredAwedans.length > 0"
                  (ionChange)="selectAllFiltered($event)" mode="md">
                </ion-checkbox>
              </th>
              <th class="amount-column text-end">Amount</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-item>
            <tr>

              
              <td style="padding-left: 20px;">
                <span class="badge-app text-white">{{ item.billNumber }}</span>
              </td>
              
              <td>
                <span class="badge-app">{{ item.application_number }}</span>
              </td>

              <td>
                <div class="name-info">
                  <div class="primary-name">{{ item.hitgrahi_name }}</div>
                  <div class="secondary-name">{{ item.father_name }}</div>
                </div>
              </td>

              <td class="selection-column">
                <ion-checkbox [checked]="isSelected(item)" (ionChange)="toggleSelection(item, $event)" mode="md">
                </ion-checkbox>
              </td>

              <td class="amount-column text-end">
                <span class="amount">{{ getAmount(item) | number:'1.2-2' }} &nbsp;₹</span>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5" class="empty">
                No records found
              </td>
            </tr>
          </ng-template>

        </p-table>
      </div>

      <!-- FOOTER -->
      <div class="footer">
        <div>
          Selected:
          <strong>{{ selectedAwedans.length }}</strong>
          |
          Total:
          <strong>₹{{ calculateTotalSelectedAmount() | number:'1.2-2' }}</strong>
        </div>

        <ion-button color="success" (click)="createBatchBill()" [disabled]="selectedAwedans.length === 0 || isLoading">
          Create Batch Bill
          <ion-spinner *ngIf="isLoading" slot="end"></ion-spinner>
        </ion-button>
      </div>

    </div>
  </div>

</ion-content>