<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" class="custom-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title class="responsive-toolbar-title">{{ getTranslation('tissu_cultuer_beema_bansh') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="width: 100%; display: flex; justify-content: center;">
      <ion-col size = 12 size-lg="8">
        <ion-row style="margin-top: 10px;">
          <ion-col size="12">
            <ion-label class="responsive-label-header-with-background">
              प्रजाति की विशेषताऐं:-
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-list class="dot-item">
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>तेजी से बढ़ने वाली प्रजाति, उत्पादन चौथे-पांचवे वर्ष से प्रांरभ, अधिक बायोमास।
              </ion-item>
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>कम पोला एवं कांटा रहित।
              </ion-item>
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>मोटाई 08 से 15 से.मी., लंबाई 30 मीटर तक।
              </ion-item>
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>छत्तीसगढ़  की जलवायु एवं मृदा इस प्रजाति के रोपण हेतु उपयुक्त है।
              </ion-item>
          </ion-list>
        </ion-row>
    
        <ion-row style="margin-top: 10px;">
          <ion-col size="12">
            <ion-label class="responsive-label-header-with-background">
              उपयोग:-
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-list class="dot-item">
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>निर्माण कार्य
              </ion-item>
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>बायोफ्यूल बनाने में
              </ion-item>
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>बांस का लकड़ी बनाने में
              </ion-item>
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>कागज़ बनाने में
              </ion-item>
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>बांस का कपड़ा बनाने में
              </ion-item>
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>ब्रिकेट बनाने में
              </ion-item>
          </ion-list>
        </ion-row>
    
        <ion-row style="margin-top: 10px;">
          <ion-col size="12">
            <ion-label class="responsive-label-header-with-background">
              व्यावसायिक रोपण हेतु अंतराल:-
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-list class="dot-item">
              <ion-item class="item-style" lines="none">
                <span class="dot-separator">•</span>पौधों के बीच का अंतराल - 8" X 12" (प्रति एकड़ 450 पौधे)
              </ion-item>
              </ion-list>
        </ion-row>
    
    
        <ion-row style="margin-top: 10px;">
          <ion-col size="12">
            <ion-label class="responsive-label-header-with-background">
              क्षेत्र तैयारी एवं रोपण:-
            </ion-label>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col size = 12>
            <ion-list class="dot-item">
    
              <ion-item class="item-style" lines="none">
                <ion-label class="dot-label">टिशू कल्चर बीमा बांस की खेती के लिए सिंचाई का सुविधा उपलब्ध होना अनिवार्य है।</ion-label>
              </ion-item>
    
              <ion-item class="item-style" lines="none">
                <ion-label class="dot-label">रोपण के 01 से 02 माह पूर्व कृषक अपनी भूमि की जुताई एवं समतलीकरण करें।</ion-label>
              </ion-item>
    
              <ion-item class="item-style" lines="none">
                <ion-label class="dot-label">अंतराल के आधार पर 45ग 45ग 45 से.मी. का गड्ढ़ा खुदाई करें। गड्ढे़ में गोबर खाद/कम्पोस्ट भरें। इसके पश्चात् गड्ढ़े को मिट्टी से पाट दें।</ion-label>
              </ion-item>
    
              <ion-item class="item-style" lines="none">
                <ion-label class="dot-label">गड्ढ़े में पौधा रोपण हेतु पौधे से पौधे के अंतराल के आधार पर 9 इंच का गड्ढ़ा बनाकर उसमें दीमक रोधी पॉउडर, (¼Cholropyriphos/Endosulphan /Aldrin / BHC dk 0.2 %½) का घोल गड्ढ़े में डालें। </ion-label>
              </ion-item>
    
              <ion-item class="item-style" lines="none">
                <ion-label class="dot-label">बारिश आने पर रोपण के समय गड्ढ़े में 50 ग्राम क्।च् तथा 50 ग्राम म्यूरेट ऑफ पोटाश (MOP) एवं 200 ग्राम नीम खल्ली डालकर अच्छी तरह मिट्टी में मिलाकर गड्ढ़ों को भर दें। गड़्ढ़ों में भरी मिट्टी भूमि तल से कुछ ऊॅंची होनी चाहिए।</ion-label>
              </ion-item>
    
            </ion-list>
          </ion-col>
          
        </ion-row>
    
        <ion-row>
          <ion-col size = 12> 
            <ion-label class="custom-ion-label">रोपण हेतु प्रति एकड़ संभावित व्यय:- (450 पौधे प्रति एकड़)</ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 5px;">
          <img src="assets/img/3rd_1st.jpeg"/>
        </ion-row>
    
    
        <ion-row>
          <ion-col size = 12> 
            <ion-label class="custom-ion-label">व्यय एवं आय की गणना</ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 5px;">
          <img src="assets/img/3rd_2nd.jpeg"/>
        </ion-row>
    
        <ion-row>
          <ion-col size = 12> 
            <ion-label class="custom-ion-label">आर्थिक लाभ की गणना 04 वर्ष पश्चात्:- उत्पादन 40 टन प्रति एकड़ तथा पंचम वर्ष से 50 टन प्रति एकड़</ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 5px;">
          <img src="assets/img/3rd_3rd.jpeg"/>
        </ion-row>
    
        <ion-row style="margin-top: 10px;">
          <ion-label style="font-weight: 0;" class="custom-ion-label">
              <b>नोटः-  1. </b>योजनांतर्गत हितग्राहियों को पौधा रोपण हेतु 05 एकड़ तक 100 प्रतिशत तथा 05 एकड़ से अधिक क्षेत्र हेतु 50 प्रतिशत वित्तीय अनुदान शासन द्वारा हितग्राहियों को प्रदाय किया जावेगा तथा द्वितीय एवं तृतीय वर्ष रखरखाव हेतु प्रति पौधे रू. 07/- की दर से अनुदान राशि हितग्राही के खाते में हस्तातंरित की जावेगी।<br><br>
              <b>2.  </b>सिंचाई एवं घेराबंदी की व्यवस्था हितग्राही को स्वयं करना होगा। 
          </ion-label>
        </ion-row>
        </ion-col>
      </ion-row>
   

  </ion-grid>
</ion-content>