<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>योजना निर्माण</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <ion-icon name="construct-outline"></ion-icon>
    <h2>{{ stageLabel }} ({{ selectedYear }})</h2>
    <p>
      इस चरण के लिए कार्य योजना निर्माणाधीन है। कृपया बाद में पुनः प्रयास करें या
      प्रथम वर्ष का चयन करें।
    </p>
    <ion-button expand="block" fill="outline" (click)="goBack()">
      चरण बदलें
    </ion-button>
  </div>
</ion-content>










