:host {
  ion-content {
    --background: #f6f7fb;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2.5rem 1.5rem;
  gap: 1rem;
}

ion-icon {
  font-size: 3rem;
  color: #0b6b3a;
}

h2 {
  margin: 0.5rem 0 0;
  font-size: 1.4rem;
  font-weight: 600;
}

p {
  color: #606060;
  line-height: 1.4;
  margin: 0;
}










