<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- Always visible back button -->
      <ion-back-button [defaultHref]="'/home'" (click)="goBack()" class="custom-back-button">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="responsive-toolbar-title">
      किसान वृक्ष योजना आवेदन
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-loading [isOpen]="isLoading" [message]="loadingMessage"></ion-loading>

  <!-- OTP Verification Section (similar to registration page) -->
  <ion-grid *ngIf="!isOTPVerified">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col>
        <ion-card style="padding: 20px; text-align: center;">
          <ion-card-header>
            <ion-card-title>मोबाइल नंबर सत्यापन</ion-card-title>
            <ion-card-subtitle>आवेदन जमा करने से पहले अपना मोबाइल नंबर सत्यापित करें</ion-card-subtitle>
          </ion-card-header>

          <ion-grid>
            <ion-row>
              <ion-col size="12" size-md="8" offset-md="2">
                <ion-input [(ngModel)]="inputMobileNumber" type="number" label="मोबाइल नंबर दर्ज करें"
                  label-placement="floating" fill="outline" maxlength="10" style="font-size: 16px;">
                </ion-input>
              </ion-col>
            </ion-row>

            <ion-row style="margin-top: 20px;">
              <ion-col size="12" size-md="6" offset-md="3">
                <ion-button expand="block" (click)="getOTP()" style="height: 45px;">
                  ओटीपी प्राप्त करें
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-text style="font-size: 12px; color: #666; margin-top: 15px; display: block;">
            आवेदन जारी रखने के लिए मोबाइल नंबर सत्यापन आवश्यक है
          </ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Main Form Section (only shown after OTP verification) -->
  <ion-grid *ngIf="isOTPVerified">
    <ion-row style="margin-bottom: 15px;">
      <ion-col>
        <ion-card style="background-color: #e8f5e8; padding: 15px; border-left: 4px solid #28a745;">
          <ion-text style="font-size: 14px; color: #2d5a2d;">
            <strong>✅ मोबाइल नंबर सत्यापित। अब आवेदन फॉर्म भर सकते हैं।</strong>
          </ion-text>
        </ion-card>
      </ion-col>
    </ion-row>

    <form #kisanForm="ngForm">
      <ion-row style="padding-left: 15px; padding-right: 15px;">
        <ion-col>

          <!-- District, Division, Range Selection -->
          <ion-row>
            <ion-col size="12" size-md="4" class="my-col">
              <ion-label class="item-style-label">जिला <span style="color: red">*</span></ion-label>
              <ng-select [items]="listOfDist" bindLabel="name" bindValue="id" [(ngModel)]="formData.district_id"
                name="district" [searchable]="true" [clearable]="false" placeholder="जिला चुनें"
                (change)="onDistrictChange($event)" required class="custom-select">
              </ng-select>
            </ion-col>

            <ion-col size="12" size-md="4" class="my-col">
              <ion-label class="item-style-label">वनमण्डल <span style="color: red">*</span></ion-label>
              <ng-select [items]="listOfDivision" bindLabel="name" bindValue="id" [(ngModel)]="formData.division_id"
                name="division" [searchable]="true" [clearable]="false" placeholder="वनमण्डल चुनें"
                (change)="onDivisionChange($event)" required class="custom-select">
              </ng-select>
            </ion-col>

            <ion-col size="12" size-md="4" class="my-col">
              <ion-label class="item-style-label">परिक्षेत्र <span style="color: red">*</span></ion-label>
              <ng-select [items]="listOfRang" bindLabel="name" bindValue="id" [(ngModel)]="formData.range_id"
                name="range" [searchable]="true" [clearable]="false" placeholder="परिक्षेत्र चुनें" required
                class="custom-select">
              </ng-select>
            </ion-col>
          </ion-row>

          <!-- Beneficiary Details -->
          <ion-row style="margin-top: 15px">
            <ion-col size="12" size-md="3" class="my-col">
              <ion-input [(ngModel)]="formData.hitgrahi_name" name="hitgrahi" label-placement="floating" fill="outline" required>
                <div slot="label">हितग्राही का नाम <span style="color: red">*</span></div>
              </ion-input>
            </ion-col>

            <ion-col size="12" size-md="3" class="my-col">
              <ion-input [(ngModel)]="formData.father_husband_name" name="father" label="पिता/पति का नाम"
                label-placement="floating" fill="outline" />
            </ion-col>

            <ion-col size="12" size-md="3" class="my-col">
              <ion-input [(ngModel)]="formData.mobile_no" name="mobile" type="number"
                label-placement="floating" fill="outline" maxlength="10" [disabled]="true"
                style="--background: #f0f0f0;">
                <div slot="label">मोबाइल नंबर <span style="color: red">*</span></div>
              </ion-input>
              <!-- <ion-note style="font-size: 11px; color: #666;">मोबाइल नंबर सत्यापन के द्वारा भरा गया है</ion-note> -->

            </ion-col>
            <ion-col size="12" size-md="3" class="my-col">

              <ion-input [(ngModel)]="adhaar" name="adhaar" type="number" label="आधार कार्ड नम्बर"
                label-placement="floating" fill="outline" maxlength="12" />
            </ion-col>
          </ion-row>

          <!-- Caste and Mobile -->
          <ion-row style="margin-top: 15px">
            <ion-col size="12" size-md="4" class="my-col">
              <ion-label class="item-style-label">जाति वर्ग <span style="color: red">*</span></ion-label>
              <ng-select [items]="listOfCastCategory" bindLabel="name" bindValue="id" [(ngModel)]="formData.caste"
                name="caste" [searchable]="true" [clearable]="false" placeholder="जाति वर्ग चुनें" required
                class="custom-select">
              </ng-select>
            </ion-col>

            <ion-col size="12" size-md="4" class="my-col">
              <ion-radio-group [(ngModel)]="formData.isMale" name="gender">
                <ion-grid>
                  <ion-row>
                    <ion-col size="6">
                      <ion-item lines="none">
                        <ion-radio slot="start" [value]="true"></ion-radio>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <ion-label>पुरुष</ion-label>
                      </ion-item>
                    </ion-col>

                    <ion-col size="6">
                      <ion-item lines="none">
                        <ion-radio slot="start" [value]="false"></ion-radio>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <ion-label>महिला</ion-label>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-radio-group>
            </ion-col>

            <ion-col size="12" size-md="4" class="my-col">
              <ion-input [(ngModel)]="formData.gram_panchayat" name="panchayat"
                label-placement="floating" fill="outline" required>
                <div slot="label">ग्राम पंचायत / नगरीय निकाय <span style="color: red">*</span></div>
              </ion-input>
            </ion-col>

            <ion-col size="12" size-md="4" class="my-col">
              <ion-input [(ngModel)]="formData.village_city" name="village" label-placement="floating"
                fill="outline" required>
                <div slot="label">गांव/शहर <span style="color: red">*</span></div>
              </ion-input>
            </ion-col>
            <ion-col size="12" size-md="8" class="my-col">
              <ion-textarea [(ngModel)]="formData.address" name="address" fill="outline"
                label-placement="floating" autosize="true" required>
                <div slot="label">पूरा पता <span style="color: red">*</span></div>
              </ion-textarea>
            </ion-col>
          </ion-row>
          

          <!-- Area Details -->

          <ion-row style="margin-bottom: 15px;">
            <ion-col>
              <ion-card style="background-color: #e8f5e8; padding: 15px; border-left: 4px solid #28a745;">
                <ion-text style="font-size: 14px; color: #2d5a2d;">
                  <strong>भूमि की जानकारी भरे :-</strong>
                </ion-text>
              </ion-card>
            </ion-col>
          </ion-row>




          <ion-row>

            <ion-col size="12" size-lg="3" style="padding: 5px;">

              <ion-input [(ngModel)]="formData.area" name="area" type="text" 
                label-placement="floating" fill="outline" required (ionChange)="validateArea()">
                <div slot="label">हितग्राही का कुल रकबा (एकड़ में) <span style="color: red">*</span></div>
              </ion-input>
            </ion-col>

            <ion-col size="12" size-lg="3" style="padding: 5px;">

              <ion-input [(ngModel)]="formData.available_area" name="available_area" type="text"
                label-placement="floating" fill="outline"
                required (ionChange)="validateArea()">
                <div slot="label">इस योजना अंतर्गत उपलब्ध भूमि का रकबा (एकड़ मे ) <span style="color: red">*</span></div>
              </ion-input>
            </ion-col>


            <ion-col size="12" size-lg="3" style="padding: 5px;">
              <ion-input [(ngModel)]="formData.halka_no" name="halka_no" label="पटवारी हल्का नम्बर व हल्का नाम दर्ज करें"
                label-placement="floating" fill="outline" />
            </ion-col>
            <ion-col size="12" size-lg="3" style="padding: 5px;">
              <ion-input [(ngModel)]="formData.village_name" name="village_name" label="ग्राम का नाम" label-placement="floating"
                fill="outline" />
            </ion-col>
            <ion-col size="12" size-lg="3"
              style="display: flex; flex-direction: column; justify-content: center; padding: 5px;">
              <ion-label style="font-size: 12px">
                भूमि सिंचित है या असिंचित?
              </ion-label>
              <ion-radio-group [(ngModel)]="formData.sinchitOrA_sinchit" name="sinchitOrA_sinchit">
                <ion-row>
                  <ion-col size="6" size-lg="6">
                    <ion-item lines="none">
                      <ion-radio slot="start" value="asinchit"></ion-radio>
                      <ion-label style="font-size: 12px; margin-top: 10px;"> &nbsp;&nbsp;&nbsp;&nbsp;
                        असिंचित</ion-label>
                    </ion-item>
                  </ion-col>

                  <ion-col size="6" size-lg="6">
                    <ion-item lines="none">
                      <ion-radio slot="start" value="sinchit"></ion-radio>
                      <ion-label style="font-size: 12px; margin-top: 10px;"> &nbsp;&nbsp;&nbsp;&nbsp; सिंचित</ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </ion-col>

            <ion-col size="12" size-lg="3"
              style="padding: 5px; display: flex; flex-direction: column; justify-content: center;">
              <ion-label style="font-size: 12px">
                क्या आपके द्वारा वन अधिकार क्षेत्र में वृक्षारोपण कार्य किया गया है?
              </ion-label>
              <ion-radio-group [(ngModel)]="formData.selectedYesNoForKakshaKramank" name="selectedYesNoForKakshaKramank"
                (ionChange)="onselect_no()">
                <ion-row>
                  <ion-col size="6" size-lg="6">
                    <ion-item lines="none">
                      <ion-radio slot="start" value="no"></ion-radio>
                      <ion-label style="font-size: 12px; margin-top: 10px;"> &nbsp;&nbsp;&nbsp;&nbsp;नहीं</ion-label>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6" size-lg="6">
                    <ion-item lines="none">
                      <ion-radio slot="start" value="yes"></ion-radio>
                      <ion-label style="font-size: 12px; margin-top: 10px;"> &nbsp;&nbsp;&nbsp;&nbsp;हाँ</ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </ion-col>

            <ion-col size="12" size-lg="3"
              style="padding: 5px; display: flex; flex-direction: column; justify-content: center;">
              <ion-label style="font-size: 12px">अपनी भूमि का प्रकार चुनें:</ion-label>

              <ion-radio-group [(ngModel)]="formData.selectfrarevenue" name="selectfrarevenue" (ionChange)="onselect()">
                <ion-row>
                  <ion-col size="6" size-lg="6">
                    <ion-item lines="none">
                      <ion-radio slot="start" value="2"></ion-radio>
                      <ion-label style="font-size: 12px; margin-top: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;Revenue
                        Land</ion-label>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6" size-lg="6">
                    <ion-item lines="none">
                      <ion-radio slot="start" value="1"></ion-radio>
                      <ion-label style="font-size: 12px; margin-top: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;FRA Land</ion-label>
                    </ion-item>
                  </ion-col>

                </ion-row>
              </ion-radio-group>
            </ion-col>

            <ion-col *ngIf="formData.selectedYesNoForKakshaKramank === 'yes'" size="12" size-lg="3"
              style="display: flex; flex-direction: column; justify-content: flex-end; padding: 8px;">
              <ion-input [(ngModel)]="formData.kaksha_kramank" name="kaksha_kramank" label="वृक्षारोपण कक्ष क्रमांक"
                label-placement="floating" fill="outline" />
            </ion-col>
            <ion-col size="12" size-lg="3" *ngIf="formData.selectfrarevenue === '1'"
              style="display: flex; flex-direction: column; justify-content: flex-end; padding: 8px;">
              <ion-input [(ngModel)]="formData.compartment_no" name="compartment_no" label="कक्ष क्रमांक"
                label-placement="floating" fill="outline" />
            </ion-col>
            <ion-col size="12" size-lg="3" *ngIf="formData.selectfrarevenue === '1'"
              style="display: flex; flex-direction: column; justify-content: flex-end; padding: 8px;">
              <ion-input [(ngModel)]="formData.patta_no" name="patta_no" label="वन अधिकार पत्र क्रमांक (पट्टा नंबर)"
                label-placement="floating" fill="outline" />
            </ion-col>
            <ion-col size="12" size-lg="3" *ngIf="formData.selectfrarevenue === '2'"
              style="display: flex; flex-direction: column; justify-content: flex-end; padding: 8px;">
              <ion-input [(ngModel)]="formData.khasra_no" name="khasra_no" label="खसरा नंबर" label-placement="floating"
                fill="outline" />
            </ion-col>
            <ion-col size="12" size-lg="3"
              style="display: flex; flex-direction: column; justify-content: flex-end; padding: 8px;">
              <ion-input [(ngModel)]="formData.gram_panchayat_name" name="gram_panchayat_name" label="ग्राम पंचायत का नाम"
                label-placement="floating" fill="outline" />
            </ion-col>

          </ion-row>
        </ion-col>
      </ion-row>

      <ion-card style="background-color: #e8f5e8; padding: 15px; border-left: 4px solid #28a745;">
        <ion-text style="font-size: 14px; color: #2d5a2d;">
          <strong>पौधों की जानकारी भरे : </strong>
        </ion-text>
      </ion-card>

      <ion-row style="padding-left: 15px; padding-right: 15px;">

        <ion-col size="12">

          <!-- Plant Type Selection -->
          <ion-row style="margin-top: 15px">
            <ion-col size="12">
              <ion-label class="item-style-label">पौधों की प्रजाति <span style="color: red">*</span></ion-label>
              <ng-select [clearable]="false" style="margin-top: 5px" [items]="listOfPlantTypes" bindLabel="name"
                bindValue="id" [(ngModel)]="selectedPlantType" name="plantType" [multiple]="true" [searchable]="true"
                placeholder="पौधों की प्रजाति चुनें (एक एक अधिक)" (change)="onPlantTypeChange($event)" required />
            </ion-col>
          </ion-row>

          <!-- Display Selected Plant Types -->
          <ion-row style="margin-top: 15px" *ngIf="selectedPlantType && selectedPlantType.length > 0">
            <ion-col size="12">
              <ion-label style="font-weight: bold; color: green;">चयनित पौधों की प्रजातियाँ:</ion-label>
              <div style="margin-top: 10px; display: flex; flex-wrap: wrap;">
                <ion-chip *ngFor="let plantId of selectedPlantType" color="success"
                  style="margin: 5px; font-size: 12px;">
                  <ion-label style="padding: 0 15px; margin-top: 10px;">{{ getPlantNameById(plantId) }}</ion-label>
                </ion-chip>
              </div>
            </ion-col>
          </ion-row>

          <!-- Other Plant (if applicable) -->
          <ion-row style="margin-top: 15px" *ngIf="showOtherPlantField()">
            <ion-col size="12">
              <ion-input [(ngModel)]="formData.other_plant" name="otherPlant" label="अन्य पौधों का विवरण"
                label-placement="floating" fill="outline" placeholder="अन्य पौधों का नाम लिखें" />
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>

      <ion-card style="background-color: #e8f5e8; padding: 15px; border-left: 4px solid #28a745;">
        <ion-text style="font-size: 14px; color: #2d5a2d;">
          <strong>बैंक विवरण (सब्सिडी हेतु) : </strong>
        </ion-text>
      </ion-card>

      <ion-row style="padding-left: 15px; padding-right: 15px; margin-top: 10px;">
        <ion-col size="12" size-md="4" class="my-col">
          <ion-label class="item-style-label">बैंक का चयन करें <span style="color: red">*</span></ion-label>
          <ng-select [items]="listOfBank" bindLabel="bank_name_hi" bindValue="bank_name_hi" [(ngModel)]="selectedBankName"
            name="bankName" [searchable]="true" [clearable]="false" placeholder="बैंक का चयन करें" required class="custom-select">
          </ng-select>
        </ion-col>

        <ion-col size="12" size-md="4" class="my-col">
          <ion-input [(ngModel)]="ifsc_code" name="ifsc" label="IFSC कोड" label-placement="floating" fill="outline" required />
        </ion-col>

        <ion-col size="12" size-md="4" class="my-col">
          <ion-input [(ngModel)]="bank_account_no" name="account" type="number" label="बैंक खाता नंबर" 
            label-placement="floating" fill="outline" required />
        </ion-col>
      </ion-row>


      <ion-card style="background-color: #e8f5e8; padding: 15px; border-left: 4px solid #28a745;">
        <ion-text style="font-size: 14px; color: #2d5a2d;">
          <strong>डॉक्यूमेंट अपलोड करें : </strong>
        </ion-text>
      </ion-card>

      <ion-row style="margin-top: 15px; padding: 0 10px;">
        <!-- Aadhar Upload -->
        <ion-col size="12" size-md="4" style="padding: 5px;">
          <div style="border: 1px solid #ccc; background-color: #f9f9f9; padding: 15px; height: 100%; border-radius: 4px;">
            <label style="font-weight: bold; color: #333; font-size: 14px; display: block; margin-bottom: 5px;">
              आधार कार्ड <span style="color: red">*</span>
            </label>
            <p style="font-size: 12px; color: #666; margin-top: 0; margin-bottom: 12px;">
              दोनों पृष्ठों का संयुक्त पीडीएफ अपलोड करें
            </p>
            
            <input id="fileInput1" type="file" (change)="onAdharPdfFileSelect($event)" accept="application/pdf"
              [required]="!adharFilename" style="width: 100%; padding: 6px; border: 1px solid #aaa; background: white; border-radius: 3px;" />
            
            <div *ngIf="adharPdfFile?.name || adharFilename" style="margin-top: 12px; padding: 8px 10px; background-color: #e2eef9; border-left: 4px solid #0056b3; border-radius: 2px;">
              <span style="font-size: 12px; font-weight: bold; color: #0056b3; display: block; margin-bottom: 4px;">अपलोड की गई फ़ाइल:</span>
              <ion-text style="color: #0056b3; cursor: pointer; font-size: 13px; text-decoration: underline; word-break: break-all;"
                (click)="(adharPdfFile?.name || adharFilename) && downloadAdharPdf()">
                📥 {{ adharPdfFile?.name || adharFilename }}
              </ion-text>
            </div>
          </div>
        </ion-col>

        <!-- Bank Passbook Upload -->
        <ion-col size="12" size-md="4" style="padding: 5px;">
          <div style="border: 1px solid #ccc; background-color: #f9f9f9; padding: 15px; height: 100%; border-radius: 4px;">
            <label style="font-weight: bold; color: #333; font-size: 14px; display: block; margin-bottom: 5px;">
              बैंक पासबुक <span style="color: red">*</span>
            </label>
            <p style="font-size: 12px; color: #666; margin-top: 0; margin-bottom: 12px;">
              पहले पृष्ठ की फोटो की पीडीएफ अपलोड करें
            </p>
            
            <input id="fileInput2" type="file" (change)="onBankPassbookPdfFileSelect($event)" accept="application/pdf"
              [required]="!bankPassbookFilename" style="width: 100%; padding: 6px; border: 1px solid #aaa; background: white; border-radius: 3px;" />
            
            <div *ngIf="bankPassbookPdfFile?.name || bankPassbookFilename" style="margin-top: 12px; padding: 8px 10px; background-color: #e2eef9; border-left: 4px solid #0056b3; border-radius: 2px;">
              <span style="font-size: 12px; font-weight: bold; color: #0056b3; display: block; margin-bottom: 4px;">अपलोड की गई फ़ाइल:</span>
              <ion-text style="color: #0056b3; cursor: pointer; font-size: 13px; text-decoration: underline; word-break: break-all;"
                (click)="(bankPassbookPdfFile?.name || bankPassbookFilename) && downloadBankPassbookPdf()">
                📥 {{ bankPassbookPdfFile?.name || bankPassbookFilename }}
              </ion-text>
            </div>
          </div>
        </ion-col>

        <!-- B1/P1 Upload -->
        <ion-col size="12" size-md="4" style="padding: 5px;">
          <div style="border: 1px solid #ccc; background-color: #f9f9f9; padding: 15px; height: 100%; border-radius: 4px;">
            <label style="font-weight: bold; color: #333; font-size: 14px; display: block; margin-bottom: 5px;">
              जमीन संबंधी B1/P1 <span style="color: red">*</span>
            </label>
            <p style="font-size: 12px; color: #666; margin-top: 0; margin-bottom: 12px;">
              B1/P1 की संयुक्त पीडीएफ अपलोड करें
            </p>
            
            <input id="fileInput3" type="file" (change)="onB1P1PdfFileSelect($event)" accept="application/pdf"
              [required]="!b1P1Filename" style="width: 100%; padding: 6px; border: 1px solid #aaa; background: white; border-radius: 3px;" />
            
            <div *ngIf="b1P1PdfFile?.name || b1P1Filename" style="margin-top: 12px; padding: 8px 10px; background-color: #e2eef9; border-left: 4px solid #0056b3; border-radius: 2px;">
              <span style="font-size: 12px; font-weight: bold; color: #0056b3; display: block; margin-bottom: 4px;">अपलोड की गई फ़ाइल:</span>
              <ion-text style="color: #0056b3; cursor: pointer; font-size: 13px; text-decoration: underline; word-break: break-all;"
                (click)="(b1P1PdfFile?.name || b1P1Filename) && downloadB1P1Pdf()">
                📥 {{ b1P1PdfFile?.name || b1P1Filename }}
              </ion-text>
            </div>
          </div>
        </ion-col>       
      </ion-row>



      <!-- Terms and Conditions -->
      <ion-row style="margin-top: 20px">
        <ion-col size="12">

          <ion-card style="background-color: #e8f5e8; padding: 15px; border-left: 4px solid #28a745;">
            <ion-card style="background-color: #f8f9fa; padding: 15px;">
              <ion-text style="font-size: 14px; line-height: 1.5; color: #333;">
                <p style="margin: 0; text-align: center; font-weight: 500;">
                  किसान वृक्ष मित्र योजना अंतर्गत उपर्युक्तानुसार पौधे प्रदान करने का सादर अनुरोध है।
                </p>
              </ion-text>
            </ion-card>
            <hr style="margin: 20px 0; border: none; border-top: 1px solid #ddd;" />

            <ion-text style="font-size: 13px; line-height: 1.4; color: #2d5a2d;">
              <p style="margin: 0 0 8px 0; font-weight: 600; color: #1e7e34;text-align: center;">
                टीप :-
                वन एवं जलवायु परिवर्तन विभाग के क्षेत्रीय अधिकारी/कर्मचारी आपसे 15 दिवस के भीतर संपर्क करेंगे। कृपया
                अपना आधार कार्ड, बैंक पासबुक एवं भूमि संबंधी दस्तावेज़ तैयार रखें। सत्यापन उपरांत आपका आवेदन स्वीकार
                किया जाएगा।
              </p>
            </ion-text>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 20px;">
        <ion-col size="12">
          <ion-item
            style="--background: transparent; --padding-start: 0;background-color: #e8f5e8; padding: 15px; border-left: 4px solid #a72828;">
            <ion-checkbox [(ngModel)]="termsAccepted" name="terms" slot="start" style="margin-right: 10px;">
            </ion-checkbox>
            <ion-label style="font-size: 14px; line-height: 1.4; margin-top: 15px; ">
              किसान वृक्ष मित्र योजना से संबंधित समस्त नियम शर्त से सहमत हूँ!
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 10px">
        <ion-col size="12">
          <ion-text style="text-align: center; display: block;">
            <a href="/about-yojna" target="_blank" style="color: #007bff; text-decoration: underline; font-size: 13px;">
              योजना से जुड़े सारे नियम देखने के लिए क्लिक करें
            </a>
          </ion-text>
        </ion-col>
      </ion-row>

      <!-- Submit Buttons -->
      <ion-row class="custom-submit" style="margin-top: 30px">
        <ion-col class="submit-col">
          <ion-button expand="block" (click)="submitForm()" [disabled]="!isFormReadyForSubmission()">
            आवेदन जमा करें
          </ion-button>
        </ion-col>

        <ion-col class="submit-col">
          <ion-button expand="block" color="danger" (click)="cancelForm()">
            रद्द करें
          </ion-button>
        </ion-col>
      </ion-row>



    </form>
  </ion-grid>